### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/*
!/tf
/tf/download/
/tf/downloadlists/
/tf/logs/*
/tf/maps/
/tf/materials/
/tf/replay/
/tf/resource/
/tf/scripts/
!/tf/addons
/tf/addons/sourcemod*/logs
/tf/addons/sourcemod*/translations
/tf/addons/sourcemod*/gamedata
/tf/addons/sourcemod*/data
!/tf/custom
!.gitignore

*.bsp
*.bz2
*.cache
*.vpk
*.so
*.dll
*.dylib
