### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/*
!/tf
/tf/stats.txt
/tf/gameinfo.txt
/tf/steam.inf
/tf/cfg/*
!/tf/cfg/banned*
!/tf/cfg/mapcycle*
!/tf/cfg/sourcemod
/tf/download/
/tf/downloadlists/
/tf/logs/*
/tf/maps/
/tf/materials/
/tf/replay/
/tf/resource/
/tf/scripts/
!/tf/addons
/tf/addons/sourcemod*/logs
/tf/addons/sourcemod*/translations
/tf/addons/sourcemod*/gamedata
/tf/addons/sourcemod*/data
/tf/custom/**/cfg/password*.cfg
/tf/custom/**/cfg/rcon*.cfg
!/tf/custom
!.gitignore


*.bsp
*.bz2
*.cache
*.vpk
*.so
*.dll
*.dylib
*.smx
